/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: cover;

  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.heading {
  color: #ffffff;
  font-family: "Bree Serif";
}

.like-button {
  background-color: #eab308;
  border-width: 0px;
  margin: 5px;
  color: #ffffff;
  height: 30px;
  width: 70px;
  border-radius: 15px;
  font-family: "Roboto";
}
.comment-button {
  background-color: #ffffff;
  border-width: 0px;
  margin: 5px;
  height: 30px;
  width: 100px;
  font-family: "Roboto";
  border-radius: 15px;
}
.share-button {
  background-color: #1d4ed8;
  border-width: 0px;
  margin: 5px;
  font-family: "Roboto";
  color: #ffffff;
  height: 30px;
  width: 70px;
  border-radius: 15px;
}
